table {
  width: 100%;
}
.filter {
    border: 1px solid red;
}
.no_record{
	text-align: center;
	padding: 25px;
}
.full_width{width: 100%;}
.side_nav_content{ padding-top: 25px; padding-bottom: 35px;  min-height:800px;}