<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <title>Coal India</title> -->
</head>
    <body style="margin:0;">
      <div style="width:100%; margin:0 auto; max-width: 850px;">
    		<div style="width:100%;margin: 0 auto; background: #fff; padding: 30px;font-family: sans-serif; float:left; font-size: 16px;box-sizing: border-box;border: 10px solid #f1f1f1;" >
    			<div style="width:100%; float:left;margin-top:20px;margin-bottom:20px;">
                            <table style="width:100%">
                                <tr>
                                    <td style="width:65px"><span style=""><img  style="float:left; width:65px;" src="http://94.237.120.42/assets/images/cil-logo.png" alt="Icon-1024"></span></td>
                                    <td style="width:100px">
                                            <span style="font-size: 11px;letter-spacing: 6px;font-weight: 700;color: #716c6c; ">Coal India</span>
                                    </td>
                                    
                                </tr>
                            </table>
    			</div>
    		  <div style="width:100%;margin: 0 auto;">
            [CONTENT]
    			</div>
    		</div>
    	</div>

    </body>
</html>
