doctype html
html. 
  <body>
    <div style="max-width: 650px; width: 100%; background: #FFF; margin: 0 auto; font-family: sans-serif;">
      <div style="background: #3e1c74; padding: 20px;text-align: center;">
        <img src="!{BASEURL}/images/logo.png" alt="Club 21 Marriage" width="200">
      </div>
      <div style="padding: 20px;">
         !{email_content}
      </div>
    </div>
  </body>   
  


