.registration_sec{width:100%; padding: 30px 0;}
.registration_inner{width:100%;}
.registration_inner h4{font:500 25px/22px 'Poppins', sans-serif; text-align: center;margin:0px;}
.registration_inner h6{font:500 18px/22px 'Poppins', sans-serif; text-align: center;margin:8px 0 0;}
.regis_number{font:400 15px/20px 'Poppins', sans-serif; text-align: left;margin:15px 0 0;}
.regis_box{width:100%; }

.regis_box p{margin:8px 0 0; font:400 14px/20px 'Poppins', sans-serif; text-align: center;}
.signa_sec{width:100%;}
.signa_sec .mat-form-field{width:100%;}
.regis_fld{width:100%;margin-top: 10px;}
.reg_mid{margin-top: 20px;}
.regis_fld .mat-form-field{width:100%;}
.regis_fld .form-group{margin: 0px !important;}
.declaration_sec{width:100%;}
.declaration_sec p{font:400 14px/20px 'Poppins', sans-serif;}
.error{color:red;}