.mat-form-field{width: 100%;}
.mb_15{margin-bottom: 15px;}
.submit_btn{
	background: #f44336;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    color: #fff;
    cursor: pointer;
}
.submit_btn:focus{
	box-shadow: none;
	outline: none;
}
.thanks_info p{
	margin:0;
}
.list_item{
	list-style: lower-alpha;
	margin-left: 0px;
}
.list_item li{
	margin-bottom: 10px;
}
canvas {
    border: 1px solid #777;
    margin-bottom:15px;
  }
  span {
    width: 300px;
  }
  .full-width{
    width: 100%;
  }
  .side_nav_content{ padding-top: 25px; padding-bottom: 35px;  min-height:800px;}
mat-select-autocomplete .mat-form-field{
  width:100%;
}

.close_btn{
  /*position: absolute;*/
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: #f00;
  color: #fff;
  border-radius: 50%;
  font-size: 11px;
  font-weight: 900;
  margin: 10px -37px;
  right:30px;
}