<div class="container coal_mid_sec" fxLayout="row" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100%" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <!-- <mat-card-title class="text-center">Sign Up</mat-card-title> -->
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-content>
            <mat-tab-group  >
	            <mat-tab label="Employee Signup">
	            	<vex-user-sign-up></vex-user-sign-up>
	            </mat-tab>
                <mat-tab label="Hospital Signup">
                        <vex-hospital-sign-up></vex-hospital-sign-up>
                </mat-tab>
            </mat-tab-group>
        </mat-card>    
    </div>
</div>